services:
  nginx:
    container_name: nginx
    build: ./requirements/nginx/
    ports:
      - "443:443"
    volumes:
      - v_web:/var/www/html
    depends_on:
      - wordpress
      - mariadb
    networks:
      - inception
  wordpress:
    container_name: wordpress
    build: ./requirements/wordpress/
    env_file:
      - .env
    expose:
      - "9000"
    volumes:
      - v_web:/var/www/html
    depends_on:
      - mariadb
    networks:
      - inception
  mariadb:
    container_name: mariadb
    build:
      context: ./requirements/mariadb/
    env_file:
      - .env
    expose:
      - "3306"
    volumes:
      - v_db:/var/lib/mysql
    networks:
      - inception
volumes:
  v_web:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/ruiolive/42Inception/data/wordpress
  v_db:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/ruiolive/42Inception/data/mariadb
networks:
  inception:
    driver: bridge

