services:
  nginx:
    container_name: nginx
    build: ./requirements/nginx/
    ports:
      - "443:443"
    expose:
      - 443
    depends_on:
      - wordpress
      - static
    volumes:
      - wordpress_vol:/var/www/html
    networks:
      - inception
  wordpress:
    container_name: wordpress
    build: ./requirements/wordpress/
    env_file:
      - .env
    expose:
      - 9000
    volumes:
      - wordpress_vol:/var/www/html
    depends_on:
      - mariadb
      - redis
    networks:
      - inception
  mariadb:
    container_name: mariadb
    build: ./requirements/mariadb/
    env_file:
      - .env
    expose:
      - 3306
    volumes:
      - mariadb_vol:/var/lib/mysql
    networks:
      - inception
  adminer:
    container_name: adminer
    build: ./requirements/bonus/adminer
    expose:
      - 9000
    networks:
      - inception
  ftp:
    container_name: ftp
    build: ./requirements/bonus/ftp
    volumes:
      - wordpress_vol:/var/www/html
    networks:
      - inception
    ports:
      - "20:20"
      - "21:21"
  redis:
    container_name: redis
    build: ./requirements/bonus/redis
    volumes:
      - wordpress_vol:/var/www/html
    expose:
      - 6379
    ports:
      - "6379:6379"
    networks:
      - inception
  static:
    container_name: static
    build: ./requirements/bonus/static
    expose:
      - 450
    ports:
      - "450:450"
    networks:
      - inception
volumes:
  wordpress_vol:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/${USER}/data/wordpress
  mariadb_vol:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/${USER}/data/mariadb
networks:
  inception:
    driver: bridge

